.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-image:linear-gradient(to right, rgb(160, 80, 80) , rgb(85, 85, 151));
  }

  .title{
    font-size: 30px;
    color: white;
    
    
  }


  .title2{
    font-size: 30px;
    color: black;
  }

  
  

  





